:root {
  --accent: rgb(90, 212, 230);
  --accent-alpha-70: rgba(90, 212, 230, .7);
  --accent-alpha-20: rgba(90, 212, 230, .2);

  --background: #222222;
  --background-secondary: #363537;
  --color: #f7f1ff;
  --light-color-secondary: rgb(171, 178, 191);
  --border-color: rgba(255, 255, 255, .1);

  --red: #fc618d;
  --green: #7db88f;
  --yellow: #fce566;
  --cyan: #5ad4e6;
  --magenta: #948ae3;
}
