{% extends "terminimal/templates/index.html" %}
{% block footer %}
<footer class="footer">
    <div class="footer__inner">
        {%- if config.extra.copyright_html %}
            <div class="copyright copyright--user">{{ config.extra.copyright_html | safe }}</div>
        {% else %}
            <div class="copyright">
                {%- if config.extra.author %}
                    <span>© {{ date_macros::now_year() }} {{ config.extra.author }}</span>
                {% else %}
                    <span>© {{ date_macros::now_year() }} Powered by <a href="https://www.getzola.org/">Zola</a></span>
                {% endif -%}

                <span class="copyright-theme">
                    <span class="copyright-theme-sep">:: </span>
                    Source code is available on <a href="https://github.com/mich-murphy/micha.elmurphy.com">GitHub</a>
                </span>
            </div>
        {% endif -%}
    </div>
</footer>
{% endblock footer %}
