[submodule "themes/terminimal"]
	path = themes/terminimal
	url = https://github.com/pawroman/zola-theme-terminimal.git
[submodule "blog/themes/terminimal"]
	path = blog/themes/terminimal
	url = https://github.com/pawroman/zola-theme-terminimal.git
