{{- /* A post's structured data for search engines: a schema.org BlogPosting with the properties Google recommends for
  an article (https://developers.google.com/search/docs/appearance/structured-data/article). datePublished is the
  front-matter date, and dateModified the post's updated date from the origin partial, as its colophon shows it, but
  never earlier than datePublished, as in the feeds. The author links to About, and the image is the post's social
  card. Call it with a dict of the post (page) and its card (card). In a JSON-LD script, html/template writes the dict
  as JSON */}}
{{- $p := .page }}
{{- $o := partialCached "origin.html" $p $p.Path }}
{{- $published := $p.Date }}
{{- $modified := or $o.date $published }}
{{- if $modified.Before $published }}{{ $modified = $published }}{{ end }}
{{- $f := "2006-01-02T15:04:05-07:00" }}
{{- $author := dict "@type" "Person" "name" site.Params.author.name }}
{{- with site.GetPage "/about" }}{{ $author = merge $author (dict "url" .Permalink) }}{{ end }}
<script type="application/ld+json">{{ dict
  "@context" "https://schema.org"
  "@type" "BlogPosting"
  "headline" $p.Title
  "datePublished" ($published.Format $f)
  "dateModified" ($modified.Format $f)
  "author" $author
  "image" .card.Permalink
}}</script>
