.header__logo::after {
  background: repeating-linear-gradient(90deg, var(--accent), var(--accent) 2px, transparent 0, transparent 10px);
}

.post-title {
  --border: 2px solid var(--accent);
}

code {
  background: var(--background-secondary);
  color: var(--light-color-secondary);
}

pre {
  background: var(--background-secondary) !important;
  border: none;
}

.post {
  ol {
    li {
      counter-increment: list;
      list-style-type: none;
      position: relative;
    }

    li:before {
      color: var(--accent-alpha-70);
      content: counter(list) ".";
      left: -22px;
      position: absolute;
      text-align: right;
      width: 18px;
    }
  }

  ul {
    li:before {
      content: '-';
      color: var(--accent-alpha-70);
    }
  }
}

.post-content {
  /*
  Hover effects on url

  a {
    text-decoration: none;
    position: relative;
  }

  a::before {
    content: '';
    background-color: var(--accent-alpha-70);
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 5px;
    z-index: -1;
    transition: all .1s ease-in-out;
  }

  a:hover::before {
    bottom: 0;
    height: 100%;
  }
  */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.2em;
    font-weight: normal;
    color: var(--magenta);
  }

  h1:before {
    content: "#";
    padding-right: 10px;
  }
  
  h2:before {
    content: "##";
    padding-right: 10px;
  }

  h3:before {
    content: "###";
    padding-right: 10px;
  }

  h4:before {
    content: "####";
    padding-right: 10px;
  }

  h5:before {
    content: "#####";
    padding-right: 10px;
  }

  h6:before {
    content: "######";
    padding-right: 10px;
  }
}

.pagination__title-h {
  text-transform: capitalize;
}

a.read-more,
a.read-more:hover,
a.read-more:active {
  color: var(--yellow);
}

.button.previous,
.button.next {
  color: var(--yellow);
}

.footer__inner {
  justify-content: center;
}
